* {
  box-sizing: boarder-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 10px;
  color: black;
  background: no-repeat;
  background: linear-gradient(90deg, #161616, rgba(1, 6, 15, 0.911)); }

.video {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  min-height: 25vh;
  display: flex;
  color: #fff;
  z-index: 2;
  text-transform: uppercase; }

.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.video__input {
  position: absolute;
  z-index: 10;
  margin: 10rem 65% 0rem 35%;
  width: 30rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.39);
  letter-spacing: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-align: center;
  border-color: #0000cd; }

.video label {
  position: absolute;
  z-index: 10;
  margin-top: 12rem;
  width: 30rem; }

.text__vertical {
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin: 1.5rem;
  display: inline-block;
  font-size: 3rem;
  /* background: red; */
  z-index: 10;
  /* text-shadow: 0.2rem 0.2rem #0000cd; */ }

.text__sub {
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
  font-size: 1.5rem;
  margin: 4rem 80% 0rem 20%; }

.search__btn {
  position: absolute;
  z-index: 10;
  padding: 1rem;
  margin: 8rem 2rem 0rem 20rem; }

.btn {
  margin-left: 50%;
  margin-right: 50%; }

a {
  text-decoration: none;
  color: inherit; }

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease; }

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #0000cd;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease; }

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle; }

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease; }

.cta:hover:before {
  width: 100%;
  background: black; }

.cta:hover svg {
  transform: translateX(0); }

.cta:active {
  transform: scale(0.96); }

.container {
  display: fixed;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: auto;
  grid-row-gap: 5rem;
  grid-column-gap: 5rem;
  justify-content: center;
  margin-top: 74vh;
  color: #fff; }

.card {
  margin-top: 2rem;
  background-image: url("../images/brick.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: border-box;
  border-radius: 0.5rem;
  text-align: center; }
  .card img {
    width: 85%;
    padding: 2rem; }
  .card h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-fill-color: black;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: White; }
  .card h2 {
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    font-weight: 600;
    -webkit-text-fill-color: black;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: White;
    padding-bottom: 1rem; }
  .card h3 {
    font-weight: 600;
    font-size: 1.75rem;
    -webkit-text-fill-color: black;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: White; }

@media (max-width: 1050px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 55vh; }
  .video__input {
    width: 20rem; }
  .body {
    font-size: 10rem; } }

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column; } }

@media (max-width: 400px) {
  body {
    background: black; }
  .container {
    display: flex;
    flex-direction: column;
    margin: 75vh 0rem 0rem 2.5rem;
    width: 120%; }
  .body {
    font-size: 6px; }
  .btn {
    display: relative;
    padding: 7rem; }
  .video video {
    width: 145%;
    height: 100%;
    object-fit: cover; }
  .video__input {
    width: 15rem;
    margin: 10rem 2rem 2rem 12rem; }
  .text__sub {
    width: 25rem;
    margin-left: 35%;
    position: absolute;
    font-size: 1.5rem; } }
